
.welcomeTitle {
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 6vw;
    color: white;
}

.headLine {
    text-align: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    font-weight: 300;
    font-size: 30px;
    color: white;
}

[class*="row"] {
    margin: 15px;
}

.sheet-settings {
    list-style-type: none;
    font-size: 14px;
    color: white;
    margin: 0px;
}
.sheet-settings li {
    display: inline;
    justify-content: center;
    align-items: center;
}

.home {
    position: relative;
}