.howToUse {
    text-align: left;
    color: white;
    font-weight: 300;
    margin: 30px 0px;
}
.howToUse ul li {
    font-size: 16px;
    margin: 15px 0px;
}
.howToUse ul li ol li{
    font-size: 15px;
}
.howToUse ul li ol li ul li{
    font-size: 14px;
}

#downloadCodeFile, #sampleGoogleSpreadSheet {
    margin: 0px 5px;
    padding: 10px;
}
#downloadCodeFile:hover, #sampleGoogleSpreadSheet:hover{
    border-radius: 100%;
    box-shadow: inset 0 0 9px rgba(255, 255, 255, 40);
}
#downloadCodeFile i, #sampleGoogleSpreadSheet i {
    font-size: 18px;
    margin: 0px 5px;
}

.highlight {
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 4px rgba(255, 255, 255, 40);
    font-weight: bolder;
    transform: scale(1);
    transition: transform 0.3s ease;
}

.highlight:hover {
    transform: scale(1.040);
}

.note {
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
    background-color: #c6c6c64b;
}

.release_version {
    font-size: 12px;
}

.about_images {
    margin: 15px 0px;
    border-radius: 10px;
    height: max-content;
    width: max-content;
    box-shadow: inset 0 0 15px rgba(255, 255, 255, 40);
}

.image {
    padding: 20px 20px;
    height: 100px;
}

.about_images #ExportDataToGithubPlugin{
    height: 180px;
}
.about_images #ExtensionAppScript{
    height: 330px;
}
.about_images #SaveAppScript{
    height: 270px;
}
.about_images #ShareAccess{
    height: 400px;
}

@media (max-width: 480px) {
    .about_images #ExportDataToGithubPlugin{
        height: 120px;
    }
    .about_images #ExtensionAppScript{
        height: 250px;
        display: block;
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    .about_images #ExportDataToGithubPlugin{
        height: 155px;
    }
    .about_images #ExtensionAppScript{
        height: 270px;
        display: block;
    }
}
@media (min-width: 769px) and (max-width: 990px) {
    .about_images #ExportDataToGithubPlugin{
        height: 180px;
    }
    .about_images #ExtensionAppScript{
        height: 290px;
        display: block;
    }
}