.layoutTitle {
  text-align: left;
  justify-content: left;
  font-weight: 250px;
  font-size: 50px;
  display: flex;
  align-items: center;
  color: white;
}

.button-shadow {
  background-color: transparent;
  border-width: 0;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson,Helvetica,sans-serif;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  padding: 1.5em 2.2em;
  position: relative;
  border-radius: 45px;
  text-decoration: none;
}

.button-shadow:hover {
  box-shadow: rgba(255, 255, 255, 0.35) 0px -50px 36px -28px inset;
}

.update-sheet {
  background-color: #F6F9FE;
  border-width: 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson,Helvetica,sans-serif;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  padding: 1.5em 2.2em;
  position: relative;
  border-radius: 45px;
  text-decoration: none;
  margin-left: 5px;
}

.update-sheet:hover {
  background: #F6F9FE;
  color: #174ea6;
}