.readExcel {
    margin: 15px;
}

#noData {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    height: 300px;
    justify-content: center;
}

.box-shadow {
    box-shadow: inset 0 0 30px rgb(29, 38, 113, 0.3);
}
.padding-zero-important{
    padding: 0px !important;
}

.drilldown {
    height: 100%;
    /* border-radius: 10px; */
}
.dashboardWidgetDrilldown{
    margin: 0px !important;
    font-size: 16px;
    font-weight: 800;
    text-align: left;
    padding-left: 25px;
    height: 15%;
    background-color: white;
    color: #1D2671;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.noBorderRadius {
    border-radius: 0px !important;
}

.dashboardWidgetDrilldownTitle {
    font-size: 14px;
    /* padding: 3px 13px; */
    align-self: center;
}
.table-responsive{
    height: 82%;
    width: auto;
    overflow-y: auto;
    overflow-x: auto;
}
table{
    width:100%;
    height:auto;
    overflow-y: auto;
    overflow-x: auto;
    padding: 0 15px 25px 15px;
}
.dashboardWidgetTitle{
    font-size: 16px;
    padding-top: 13px;
    font-weight: 800;
    text-align: left;
    padding-left: 25px;
    height: 15%;
    background-color: white;
    border-bottom: 0.1px #c2c6e8 solid;
    color: #1D2671;
    border-radius: 10px 10px 0px 0px;
}
.dashboardWidget {
    margin: 10px;
    height: 370px;
    padding: 0 0 10px 0;
    box-shadow: inset 0 0 30px rgba(255, 255, 255, 0.287);
    border-radius: 10px;
}
.tbl-content{
    height: 100%;
    margin-top: 0px;
    overflow-x:auto;
    overflow-y: auto;
}
.tbl-header{
    position: sticky;
    top: 0;
    background-color: rgba(255,255,255);
}
.tbl-header th{
    padding: 10px 20px;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    color:#1D2671;
    text-transform: uppercase;
}
td{
    padding: 10px;
    text-align: center;
    vertical-align:middle;
    font-weight: 300;
    font-size: 14px;
    color: #fff;
}
.tableWidget {
    height: 82%;
    margin-top: 15px;
    padding: 0px 0px 15px;
    margin-left: 10px;
    margin-right: 10px;
}

@media (max-width: 480px) {
    td{
        font-size: 5px;
        padding: 5px;
    }
    .tbl-header th{
        font-size: 4px;
        padding: 5px 10px;
    }
    #noData {
        height: 130px;
        font-size: 25px;
    }
    .dashboardWidget{
        height: 160px;
        padding: 0 0 2px 0;
    }
    .dashboardWidgetTitle{
        font-size: 12px;
        padding-top: 3px;
        padding-left: 15px;
    }
    .tableWidget {
        margin-top: 7px;
        padding: 0px 0px 7px;
        margin-left: 4px;
        margin-right: 4px;
    }
    .tableWidget th {
        font-size: 10px;
        font-weight: 600;
        padding: 4px 5px;
    }
    .tableWidget td{
        font-size: 10px;
        font-weight: 400;
        padding: 5px;
    }
    .drilldown th {
        font-size: 10px;
        font-weight: 600;
        padding: 3px 13px;
    }
    .drilldown td {
        font-size: 10px;
        font-weight: 400;
        padding: 3px;
    }
    .dashboardWidgetDrilldown{
        font-size: 11px;
        padding-left: 15px;
    }
    .dashboardWidgetDrilldownTitle {
        font-size: 8px;
        /* padding: 3px 5px; */
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    td{
        font-size: 8px;
        padding: 6px;
    }
    .tbl-header th{
        font-size: 6px;
        padding: 6px 12px;
    }
    .dashboardWidget{
        height: 185px;
        padding: 0 0 2px 0;
    }
    .dashboardWidgetTitle{
        font-size: 10px;
        padding-top: 7px;
        padding-left: 17px;
    }
    .tableWidget {
        margin-top: 10px;
        padding: 0px 0px 10px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .tableWidget th {
        font-size: 9px;
        font-weight: 500;
        padding: 4px 5px;
    }
    .tableWidget td{
        font-size: 9px;
        font-weight: 400;
        padding: 6px;
    }
    .drilldown th {
        font-size: 9px;
        font-weight: 500;
        padding: 3px 13px;
    }
    .drilldown td {
        font-size: 9px;
        font-weight: 400;
        padding: 3px;
    }
    .dashboardWidgetDrilldown{
        font-size: 10px;
        padding-left: 17px;
    }
}

@media (min-width: 769px) and (max-width: 990px) {
    td{
        font-size: 10px;
        padding: 8px;
    }
    .tbl-header th{
        font-size: 8px;
        padding: 8px 16px;
    }
    .dashboardWidget{
        height: 275px;
        padding: 0 0 5px 0;
    }
    .dashboardWidgetTitle{
        font-size: 12px;
        padding-top: 13px;
        padding-left: 20px;
    }
    .tableWidget {
        margin-top: 13px;
        padding: 0px 0px 13px;
        margin-left: 7px;
        margin-right: 7px;
    }
    .tableWidget th {
        font-size: 9px;
        font-weight: 500;
        padding: 5px 10px;
    }
    .tableWidget td{
        font-size: 9px;
        font-weight: 400;
        padding: 8px;
    }
    .drilldown th {
        font-size: 9px;
        font-weight: 500;
        padding: 3px 13px;
    }
    .drilldown td {
        font-size: 9px;
        font-weight: 400;
        padding: 3px;
    }
    .dashboardWidgetDrilldown {
        font-size: 12px;
        padding-left: 20px;
    }
}