body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body{
    background: -webkit-linear-gradient(left, #C33764, #1D2671);
    background: linear-gradient(to right, #C33764, #1D2671);
    font-family: 'Roboto', sans-serif;
}